@model string

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy @Model (@ViewBag.Edad)</h1>
    <h2>Estoy aprendiendo desarrollo web en tecnologías .NET y JavaScript.</h2>

    <img 
    id="foto"
    src="~/imagenes/foto.jpeg" alt="Foto de Gustavo" />

</div>